.banner-container {
    position: relative;
    background: url('../../images/background1.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.banner-container h1 {
    color: rgb(4, 46, 59);
    font-size: 50px;
    font-weight: bold;
}